<plugin>
	<nom>R&#233;visions (suivi des modifications)</nom>
	<auteur>Collectif SPIP</auteur>
	<icon>prive/themes/spip/images/revision-32.png</icon>
	<version>1.4.1</version>
	<version_base>1.1.2</version_base>
	<install>base/revisions_upgrade.php</install>
	<etat>test</etat>
	<description>Suivi des modifications des objets editoriaux</description>
	<prefix>revisions</prefix>

	<pipeline>
		<nom>pre_edition</nom>
		<inclure>inc/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_edition_lien</nom>
		<inclure>inc/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>inc/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition_lien</nom>
		<inclure>inc/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/revisions_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>boite_infos</nom>
		<inclure>inc/revisions_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>inc/revisions_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>configurer_liste_metas</nom>
		<inclure>inc/revisions_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>revisions_liste_objets</nom>
		<inclure>inc/revisions_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/revisions.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_objets_sql</nom>
		<inclure>base/revisions.php</inclure>
	</pipeline>



	<bouton id='revisions' parent='bando_publication'>
		<icone>images/revision-16.png</icone>
		<titre>info_historique_titre</titre>
	</bouton>
	<bouton id='configurer_revisions' parent='bando_configuration'>
		<icone>images/revision-16.png</icone>
		<titre>revisions:titre_revisions</titre>
	</bouton>
	<necessite id="SPIP" version="[2.3.0-dev;)" />
</plugin>
